@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding:0;
}
section{
    height: 100vh;
  
}

#section1,#section4{
    background-image: url("./img/BG-test-10.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

#section3{
    background-image: url("./img/BG-CURVED.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section1_Subtext{
    font-family: "Arimo", sans-serif;
    margin:0;
}


